doctype html
html
    head
        meta(charset='UTF-8')
        title Hello World
    body    
        div(id='react')
        div(id='bar')
        script(text='text/javascript', src='js/build.js')
